:root{
  --heading-font: 'Oswald', sans-serif;
  --subheading-font: 'Mulish', sans-serif;
  --body-font: 'Mulish', sans-serif;
}

[data-theme="dark"]{
  --background-color: #1f1f27;
  --opposite-color: #ffffff;
  --text-color: #cccccc;
  --link-color: #2ba889;
  --accent-cool: #129489;
  --accent-warm: #c75d33;
  --planet-brightness: 0.7;
}

[data-theme="light"] {
  --background-color: #effffd;
  --opposite-color: #101014;
  --text-color: #333333;
  --link-color: #10c0b1;
  --accent-cool: #086b5e;
  --accent-warm: #df4430;
  --planet-brightness: 1.3;
}

[planet-size="large"]{
  --planet-height: 100vh;
}

[planet-size="small"]{
  --planet-height:50vh;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

html{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  background-color: var(--background-color);
  font-family: var(--body-font);
  font-weight: 400;
  /*font-family: 'DM Sans', sans-serif;*/
  padding:10vw;
  color: var(--text-color);
}

p{
  align-self: left;
  text-align: justify;
  line-height: 1.5em;
  font-size: 1em;
}

a{
  color: var(--link-color);
  text-decoration:none !important;
  transition: 0.3s;
}

a:hover{
  filter: brightness(0.7);
}

.profile{
  width: 15vh;
  height: auto;
  border-radius: 50%;
  filter:brightness(var(--planet-brightness));
}

h1{
  text-decoration: none !important;
  transition: 0.3s;
  font-family: var(--heading-font);
  font-size: max(1.75vw, 1em);
  font-weight: bold;
  font-size: 3vw !important;
}

.sidebar h1{
  line-height: 2;
  font-size: 5vh !important;
}

.gallery h1{
  line-height: 2;
  font-size: 5vh !important;
}

.emoji{
  font-size: 0.75em;
}

h2{
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 1.4em;
}

.about-me{
  width: 50%;
}

.titan-bottom{
  position: fixed;
  right: 0;
  bottom: 0;
  height: var(--planet-height);
  z-index: -10000;
  transition: 0.5s;
  opacity: 1;
  filter: brightness(var(--planet-brightness));
}


.sidebar{
  position: fixed;
  width: 20%;
  text-decoration: none !important;
}

.gallery{
  align-items:left;
  align-content: left;
  margin-left:30%;
  display:inline-table;
  width: 70%;
  text-align: justify !important;
}

th{
  font-weight: normal;
  vertical-align: top;
}

.cover{
  width: 100%;
  height: 100%;
  object-fit:cover;
  opacity: 1;
  transition: 0.5s;
}

.fadeIn{
  opacity: 0;
  transition: 0.3s;
}

.expanded{
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.image{
  width: 17vw;
  height: 17vw;
  margin-bottom:1vw;
  overflow: hidden;
  transition: 0.5s;
  display:inline-block;
  align-items:left;
  align-self:left;
  float: left;
  position: relative;
  margin-right: 1vw;
  border-radius: 20px;
}

.imagesmall{
  width: 12.5vw;
  height: 12.5vw;
  margin-bottom:1vw;
  overflow: hidden;
  transition: 0.5s;
  display:inline-block;
  align-items:left;
  align-self:left;
  float: left;
}

.image:hover .cover{
  filter: brightness(0.2);
  cursor:pointer;
}

.imagesmall:hover{
  filter: brightness(0.2);
  cursor:pointer;
}

.image-wide{
  position:relative;
  width: 52vw !important;
  height:fit-content;
  display:inline-block !important;
  height:auto !important; 
  transition: 0.3s;
  float:left;
  margin-right: 1vw;
}

.split-column{
  width: 25vw !important;
  margin-right: 1vw !important;
}

.gallery-title{
  position: absolute;
  top: 30%;
  left: 5%;
  padding-right: 30%;
  opacity: 0;
  transition: 0s;
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 3vh;
  text-align: left;
  color: var(--accent-warm);
  line-height: 1.3;
}

.image:hover .gallery-title{
  opacity: 1;
  transition: 0.5s;
}

.indent{
  margin-left: 5vw;
}

.big-button{
  width: 100%;
  padding: 3%;
  background-color: var(--link-color);
  color:var(--background-color);
  text-align: center;
  transition: 0.3s;
  border: none;
  border-radius: 20px;
  font-family: var(--heading-font);
  font-size: 2em;
  margin-bottom: 3%;
}

.big-button:hover{
  filter:brightness(0.7);
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

.image-wide .close{
  position: absolute;
  top: 20px;
  left: 90%;
  z-index:1000;
  width:fit-content;
  font-size:2vw;
  color:white;
  cursor:auto;
  opacity:1;
  transition:0.3s;
  filter: drop-shadow(0 0 2px black);
}

.image-wide .close-light{
  color: black !important;
}

.close:hover{
  cursor:pointer;
  opacity:0.5;
}

.footer{
  margin-top:10vw;
  width: 100%;
  float:center !important;
  align-self: center !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.footertext{
  font-size: 1em !important;
  margin-left:auto;
  margin-right:auto;
  width:fit-content !important;
  text-align:center !important;
  float: center !important;
  align-self: center !important;
  align-items: center !important;
}

.center{
  position: absolute;
  top: 90%;
  left: 50%;
}

.img-title{
  width: 35vw;
  text-align: justify;
  font-weight: bold !important;
}

.warm{
  color: var(--accent-warm);
}

.cool{
  color: var(--link-color);
}

.small{
  font-size: 0.7em;
}

.img-description{
  width: 50vw;
  text-align: justify !important;
  margin-bottom: 5vh;
}

.navlink{
  cursor:auto;
  display: inline-block;
  clear:both;
  line-height: 1.7em;
  font-size: 1em;
  color: var(--background-color);
  text-decoration: none !important;
  font-family: var(--subheading-font);
  font-weight: 600;
  background-color: var(--accent-warm);
  border-radius: 20px;
  border: 0px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width:fit-content;
  opacity: 1 !important;
  margin-right: 15px;
}

.navlink:hover{
  cursor:pointer;
  filter:brightness(0.5) hue-rotate(-15deg);
  opacity: 1 !important;
}

.badge{
  margin-top: 2vh !important;
  display: flex !important;
}

li{
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.price-chart{
  border: 1px none var(--text-color);
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.price-chart th{
  border-bottom: 0.5px ridge var(--link-color);
  padding: 2%;
}

.price-chart .lastrow{
  border-bottom: 0px none !important;
}

.left{
  text-align: left;
}

th {
  padding-right: 5%;
}

.theme-icon{
  position: relative;
  display: inline-block;
  width: auto;
  top: 7px;
  height: 18px;
  color: var(--text-color);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

.sun{
  left: 6px;
}

.moon{
  left: 33px;  
}

.switch {
  margin-top: 5vh;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid var(--link-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 3px;
  left: 4px;
  bottom: 4px;
  background-color: none;
  -webkit-transition: .4s;
  transition: .4s;
  filter:brightness(var(--planet-brightness));
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px  var(--link-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-image: url('titan.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.social{
  width: 5vh;
  fill: white !important;
  margin-top: 2vh;
}

.social:hover{
  fill: var(--link-color);
}

#instagram{
  /*background-image: url(instagram.svg);*/
}

.col{
  width: 60%;
  text-align: justify !important;
}

.carbonbadge{
  float: left !important;
}

/**********************************************************************************************************************/

@media (max-width:1000px) { 

  .titan-bottom{
    display: none;
  }
  
  .about-me{
    width: 100%;
  }

  .image{
    width: 100% !important;
    transition: 0.5s !important;
    height: 50%;
  }

  .imagesmall{
    width: 100% !important;
    transition: 0.5s !important;
  }

  .image-wide{
    width:100% !important;
    transition: 0.5s !important;
  }

  .close{
    font-size:5vw !important;
  }

  .img-description{
    width: 100% !important;
  }

  .img-title{
    width: 100% !important;
  }

  .gallery h1{
    float: center !important;
    margin: auto;
    align-self: center;
    text-align: center;
  }

  .sidebar{
    position: relative;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    align-content: center !important;
    text-align: center !important;
  }

  .sidebar p{
    float: center !important;
    margin-left: auto;
    margin-right: auto;
    align-self: center !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    
  }

  .navlink{
    display: inline !important;
    float: center !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    align-self: center !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    border: 0px solid var(--text-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
    opacity: 1 !important;
  }

  .navlink:hover{
    border: 0px;
    opacity: 1 !important;
  }

  .gallery{
    margin-top: 10%;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  .col{
    width: 100% !important;
  }

  .switch{
    display: block;
    float: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .sun{
    margin-left: -40px !important;
  }

  .moon{
    margin-left: -34px !important;
  }

} 