
[data-theme="dark"]{
  --background-color: black;
  --text-color: white;
  --link-color: cyan;
}

[data-theme="light"] {
  --background-color: white;
  --text-color: black;
  --link-color: LightSeaGreen;
}


.App {
  text-align: center;
  scroll-behavior: smooth;
}

body{
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  padding:10vw;
  color: var(--text-color);
}

p{
  align-self: left;
  text-align: left;
}

a{
  color: var(--link-color);
  text-decoration:none;
}

h1{
  text-decoration: none !important;
}

.sidebar{
  position: fixed;
  width: 20%;
}

.gallery{
  align-items:left;
  align-content: left;
  margin-left:30%;
  display:inline-table;
}

.cover{
  width: 100%;
  height: 100%;
  object-fit:cover;
  opacity: 1;
}

.fadeIn{
  opacity: 0;
  transition: 0.3s;
}

.expanded{
  width: 100%;
  height: auto;
}

.image{
  width: 17vw;
  height: 17vw;
  margin-left:1vw;
  margin-bottom:1vw;
  overflow: hidden;
  transition: 0.3s;
  display:inline-block;
  align-items:left;
  align-self:left;
  float: left;
}

.image:hover{
  filter: brightness(0.4);
  cursor:pointer;
}

.image-wide{
  position:relative;
  margin-left:1vw;
  width: 35vw !important;
  height:fit-content;
  display:inline-block !important;
  height:auto !important; 
  transition: 0.3s;
  float:left;
}



a:hover{
  text-decoration: underline;
}

.image-wide .close{
  position: absolute;
  top: 5%;
  left: 90%;
  z-index:1000;
  width:fit-content;
  font-size:2vw;
  color:white;
  cursor:auto;
  opacity:1;
  transition:0.3s;
  filter: drop-shadow(0 0 2px black);
}

.image-wide .close-light{
  color: black !important;
}

.close:hover{
  cursor:pointer;
  opacity:0.5;
}

.footer{
  margin-top:10vw;
  width: 100%;
  float:center !important;
  align-self: center !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.footertext{
  margin-left:auto;
  margin-right:auto;
  width:fit-content !important;
  text-align:center !important;
  float: center !important;
  align-self: center !important;
  align-items: center !important;
}

.center{
  position: absolute;
  top: 90%;
  left: 50%;
}

.img-title{
  width: 35vw;
  text-align: justify;
  font-weight: bold;
}

.img-description{
  width: 35vw;
  text-align: justify !important;
}

.navlink{
  cursor:auto;
  display: block;
  clear:both;
}

.navlink:hover{
  cursor:pointer;
}

.badge{
  margin-top: 2vw !important;
  display: flex !important;
}

.img-static{
  width: 60%;
  display:block;
  margin:auto;
  float: center !important;
  text-align: center !important;
}

li{
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid var(--link-color)
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 3px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px  var(--link-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**********************************************************************************************************************/

@media (max-width:700px) { 

  .image{
    width: 100% !important;
    transition: 0.3s !important;
  }

  .image-wide{
    width:100% !important;
    transition: 0.3s !important;
  }

  .close{
    font-size:5vw !important;
  }

  .img-description{
    width: 100% !important;
  }

  .img-title{
    width: 100% !important;
  }

  .gallery h1{
    float: center !important;
    margin: auto;
    align-self: center;
    text-align: center;
  }

  .sidebar{
    position: relative;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    align-content: center !important;
    text-align: center !important;
  }

  .sidebar p{
    float: center !important;
    margin-left: auto;
    margin-right: auto;
    align-self: center !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .navlink{
    display: block !important;
    float: center !important;
    margin: auto !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    align-self: center !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .gallery{
    margin-top: 10%;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

} 